{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jQuery": true,
    "node": true
  },
 "plugins": [
    "react"
 ], 
  "globals": {
    "jQuery": 1
  },
  "rules": {
    "no-var": 0,
    comma-dangle: ["error", "never"]
  }
}